@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @supports (font-feature-settings: normal) {
    :root {
      font-variation-settings: normal;
      font-feature-settings: "ss01", "ss03", "cv01", "cv02", "cv03", "cv04",
        "cv05", "cv06", "cv07", "cv08", "cv09", "cv10", "cv11";
    }
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-foreground;
  }

  .without-ring:focus:not(:focus-visible) {
    @apply focus:ring-0 focus:ring-offset-0;
  }

  .without-ring:focus-visible {
    @apply ring-2 ring-offset-2;
  }

  [type=\"checkbox\"]:focus:not(:focus-visible) {
    @apply focus:ring-0 focus:ring-offset-0;
  }

  [type=\"checkbox\"]:focus-visible {
    @apply ring-2 ring-offset-2;
  }

  [type=\"input\"]:focus:not(:focus-visible) {
    @apply focus:ring-0 focus:ring-offset-0;
  }

  [type=\"input\"]:focus-visible {
    @apply ring-2 ring-offset-2;
  }

  [type=\"button\"]:focus:not(:focus-visible) {
    @apply focus:ring-0 focus:ring-offset-0;
  }

  [type=\"button\"]:focus-visible {
    @apply ring-2 ring-offset-2;
  }
}

@layer components {

  /* Define text basic */
  .sz-text-link {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
  }

  .sz-text-h1-reg {
    font-weight: 400;
    font-size: 57px;
    line-height: 130%;
  }

  .sz-text-h2-reg {
    font-weight: 400;
    font-size: 46px;
    line-height: 130%;
  }

  .sz-text-h3-reg {
    font-weight: 400;
    font-size: 37px;
    line-height: 130%;
  }

  .sz-text-h4-reg {
    font-weight: 400;
    font-size: 29px;
    line-height: 130%;
  }

  .sz-text-h4-semi {
    font-weight: 600;
    font-size: 29px;
    line-height: 130%;
  }

  .sz-text-h5-reg {
    font-weight: 400;
    font-size: 23px;
    line-height: 130%;
  }

  .sz-text-h5-semi {
    font-weight: 600;
    font-size: 23px;
    line-height: 130%;
  }

  .sz-text-h6-reg {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
  }

  .sz-text-h6-semi {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
  }

  .sz-parag-reg {
    font-weight: 400;
    font-size: 15px;
    line-height: 155%;
  }

  .sz-parag-semi {
    font-weight: 600;
    font-size: 15px;
    line-height: 155%;
  }

  .sz-label-xs-semi {
    font-weight: 600;
    font-size: 11px;
    line-height: 145.455%;
    font-style: normal;
  }

  .sz-label-m-reg {
    font-weight: 400;
    font-size: 15px;
    line-height: 155%;
  }

  .sz-label-m-semi {
    font-weight: 600;
    font-size: 15px;
    line-height: 155%;
  }

  .sz-label-s-reg {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
  }
}